@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: 72 49 212;
    --color-secondary: 186 221 118;
    --color-purple: 61 21 95;
    --color-black: 14 17 17;
    --color-white: 255 255 255;
    --color-gray: 249, 249, 249;
}

@layer base {
    html {
        scroll-behavior: smooth;
    }
}
